.purchase-button {
    flex-direction: column-reverse;
    padding-block: var(--core-spacing-400);
    align-items: flex-end;
    height: var(--core-size-2800);
    gap: 0;

    &:not(.quill-button:first-child .purchase-button):not(.purchase-button--loading) {
        align-items: flex-start;
    }
    &--single {
        align-items: center;
        justify-content: center;

        .purchase-button__information__wrapper {
            justify-content: center;
            gap: var(--core-spacing-400);
        }
    }
    &--loading {
        align-items: center;
    }

    &__information {
        &__wrapper {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            &--reverse {
                flex-direction: row-reverse;
            }

            &--disabled-placeholder {
                min-height: var(--core-size-900);
            }
        }

        &__item {
            color: var(--component-button-label-color-sell-primary);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--core-spacing-400) 0;
        gap: var(--core-spacing-400);
        width: 100%;
        z-index: 2; // chart has z-index: 1, it should not push purchase buttons down
        &__un-auth {
            bottom: var(--core-spacing-50);
        }
    }
}
